body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: url('../images/nature.gif') center/cover no-repeat fixed;
}
 
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
    color: #fff;
}
 
.header {
    background-color: #162533;
    padding: -50px 0;
    border-bottom: 5px solid rgb(3, 65, 3);
    background-color: forestgreen;
}
 
/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}
 
.company-info {
    display: flex;
    align-items: center;
}
 
.company-info img {
    max-width: 60px;
    height: auto;
    margin-right: -15px;
    margin-left: -90px;
}
 
.company-name,
.nav-link {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    transition: color 0.3s;
    width: 120px;
    text-align: center;
    padding: 16px 32px;
    box-sizing: border-box;
}
 
.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
 
.nav-item {
    margin-left: 0px;
}
 
.nav-link:hover,
.nav-item.active .nav-link {
    color: #e0ffe0;
    background-color: rgb(26, 177, 26);
    transform: scale(1.1);
}
 
.bottom-navbar {
    display: flex;
    justify-content: center;
    background-color: #343a40;
    padding: 20px 0;
    width: 100%;
}
 
/* Home page */
 
.starting {
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
}
 
.starting-content {
    opacity: 0;
    animation: popUp 1s ease-out forwards;
}
 
.display-4,
.lead,
.btn,
.contacts-box {
    animation: popUp 1s ease-out forwards;
}

.starting h1 {
    font-size: 3rem;
    font-weight: 700;
}
 
.starting p {
    font-size: 1.25rem;
    margin-top: 20px;
}
 
.btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}
 
.btn:hover {
    background-color: #218838;
}
 
/* Animation */
 
@keyframes popUp {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
 
/* About page + Challenges page */
.environment-box {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInUp 1s ease-out forwards;
    transition: all 0.5s;
    transition-delay: 0s;
    background-color: #fff;
    padding: 80px;
    margin: 60px;
    border: 8px solid #4CAF50;
    border-radius: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    position: relative;
}
 
.environment-box h2 {
    font-size: 48px;
    color: #333;
    margin-bottom: 30px;
}
 
.environment-box p {
    font-size: 36px;
    color: #555;
    margin-bottom: 30px;
}
 
.environment-box.animate {
    opacity: 1;
    animation: popUp 1s ease-out forwards;
}
 
.challenges-title {
    color: rgb(45, 179, 54);
    text-align: center;
}
 
.knowledge-test-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s;
}
 
#earth-box,
#water-box,
#air-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    padding: 80px;
    margin: 60px;
    border: 8px solid #4CAF50;
    border-radius: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    position: relative;
}
 
#earth-box h2,
#water-box h2,
#air-box h2 {
    align-self: flex-start;
    order: 0;
    font-size: 48px;
    color: #333;
    margin-bottom: 30px;
}
 
#earth-box p,
#water-box p,
#air-box p {
    order: 1;
    font-size: 36px;
    color: #555;
    margin-bottom: 30px;
}
 
/* Styles specific to about.html */
 
.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
.environment-box {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding: 20px;
    border: 8px solid #4CAF50;
    border-radius: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    position: relative;
}
 
.environment-image {
    max-width: 100%;
    height: auto;
    margin-right: 20px;
}
 
.environment-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
 
.environment-content h2 {
    order: -1;
    font-size: 48px;
    color: #333;
    margin-bottom: 30px;
}
 
.environment-content p {
    order: 1;
    font-size: 36px;
    color: #555;
    margin-bottom: 30px;
}
 
.jump-to-challenges {
    margin-top: auto;
    margin-left: auto;
    display: block;
}
/* Challenges tests */
 
form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: left;
}
 
form label {
    margin-bottom: 10px;
}
 
#result-message {
    display: none;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
 
#result-message p {
    margin-bottom: 10px;
}
 
#result-message a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}
 
#result-message a:hover {
    background-color: #228B22;
}
 
.submit-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
}
 
.submit-button:hover {
    background-color: #45a049;
}
 
/* Contacts section */
 
.contacts-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
 
.contacts-box {
    margin: 0 20px 30px;
    width: 40%;
    background-color: rgb(255, 255, 255);
    border: 8px solid #4CAF50;
    border-radius: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    position: relative;
}
 
.contributor {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid #4CAF50;
    font-size: 18px;
}
 
.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
.profile_pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
}
 
.last-contacts-box {
    text-align: center;
    padding: 20px;
}
 
.contacts-title {
    text-align: center;
    color:#fff;
}
 
 
.larger-text {
    font-size: 32px; /* Adjust the font size as needed */
}
 
/* Responsive */
 
@media (max-width: 768px) {
    .environment-box {
        flex-direction: column;
        align-items: center;
        margin: 30px;
    }
 
    .company-info img {
        margin-right: 10px;
        margin-left: 10px;
    }
 
    .environment-image {
        margin-bottom: 20px;
    }
 
    .environment-content {
        text-align: center;
    }
 
    .bottom-navbar {
        padding: 10px 20px;
    }
 
    .nav-list {
        flex-direction: row;
        justify-content: space-around;
    }
 
    .nav-link {
        padding: 5px 10px;
    }
    .contacts-box {
        width: 100%;
    }
 
    .profile_pic {
        width: 100px;
        height: 100px;
    }
}
 
 
/* For tablets */
@media (min-width: 769px) {
    .contacts-section {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
 
    .contacts-box {
        width: 45%;
        margin: 0 0 20px;
    }
 
    .profile_pic {
        width: 150px;
        height: 150px;
    }
}
